<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Reasurants list</title>
</head>
<body>
<div align="center">
	<h1>show hotels</h1>	
	<table border="1">
		<thead>
		<tr>
		
			<th>firstName</th>
			<th>lastName</th>
			<th>email</th>
			<!-- <th>mobileNo</th>
			<th>gender</th>
			<th>address</th>
			<th>city</th>
			<th>state</th>
			<th> pinCode </th>
			<th> password </th>
			<th> date </th>
			<th> role </th> -->
			<th> restaurantName </th>
				<th> licenseNo </th>
			<!-- 	<th> category </th>
				<th> restaurantType</th>
				<th> restaurantImage</th> -->
			
			
		<!-- 	select * from tabl1,table2 where table.role = restaurant; -->
			
		</tr>
		
		
		</thead>
		<tbody> 
				<tr th:each="model :${list1}">
					<td th:text="${model.user.firstName}"></td>
					<td th:text="${model.user.lastName}"></td>
					<td th:text="${model.user.email}"></td>
					 <td  th:text="${model.restaurantName}"></td> 
					 <td th:text="${model.licenseNo}"></td>
					<!-- <td th:text="${rest.mobileNo}"></td>
					<td th:text="${rest.gender}"></td>
					<td th:text="${rest.address}"></td>
					<td th:text="${rest.city}"></td>
					<td th:text="${rest.state}"></td>
					<td th:text="${rest.pinCode}"></td>
					<td th:text="${rest.password}"></td>
					<td th:text="${rest.date}"></td>
					<td th:text="${rest.role}"></td> --> 
					</tr>
					
				
					
					<!-- <tr th:each="r :${rest}">  -->
				<tr>
					
					<!--  <td th:text="${r.cateogry}"></td>
					 <td th:text="${r.restaurantType}"></td>
					 <td th:text="${r.restaurantImage}"></td> -->
					
				<!-- 	<td scope="row"><img alt="" th:src="*{'data:image/jpeg;base64,'+{reasturant.restaurantImage}}" style="width:100px; height:70px"></td> -->
					
				<!-- 	
					<td> <a th:href="@{/showFormForRUpdate/{id}(id=${reasturant.id})}">Update</a>
					    <a th:href="@{/deletereasturant/{id}(id=${reasturant.id})}">Delete</a>
					</td>
					 -->
					
				</tr>
				
				
		</tbody>
	</table>
</div>

</body>
</html>


	